<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
    			<ul>
        			<li><a href="/">Home</a></li>
	        		<li><a href="/about">About</a></li>
				      <li><a href="/members">Members</a></li>
        			<li><a href="/cv">Publications</a></li>
				      <li><a href="https://github.com/ReedLabatPitt/Reed-Lab-Code-Library">Code</a></li>
        			<li><a href="https://cowboyscientist.blogspot.com">Blog</a></li>
    			</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:dsreed@pitt.edu">email</a></li>
	        		<li><a href="https://github.com/reedlabatpitt">github.com/ReedLabatPitt</a></li>
				</ul>
			</footer>
		</body>
	</html>
